*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5fff5;
    font-family: sans-serif;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.inputBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

#btn-add{
    border: none;
    background-color: #35e96b;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    color: #FFF;
    font-size: 24px;
    margin-left: -10px;
    cursor: pointer;
}

#btn-add:hover{
    box-shadow: 0 0 20px #13c549;
    background-color: #13c549;
    border: solid 0.5px green;
    transition: 0.5s;
}

.title{
    font-weight: bold;
    text-align: center;
}

#inputTask{
    background-color: #EEEEEE;
    border: none;
    width: 450px;
    height: 50px;
    padding-left: 12px;
    border-radius: 8px;
    box-shadow: 0 0 20px #ccc;
    outline: none;
}

#inputTask:hover{
    border: solid 0.5px gray; 
}

#areaList {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 50px;
    width: 500px;
    box-shadow: 0 0 30px #ccc;
    margin-bottom: 2%;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 15px;
}

.item-icon{
    flex: 0 0 40px;
    text-align: center;
    font-size: 16px;
}

.item-name{
    text-align: center;
    flex: 55px;
    min-width: 0;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.item-button{
    flex: 25px;
    flex: 0 0 80px
}

.delete{
    border: none;
    cursor: pointer;
    background-color: white;
    margin-left: 110px;
    .mdi-delete{
        color: red;
        font-size: 20px;
    }
}

.item.clicked{
    .mdi-check-circle{
        color: green;
    }
}

.item.clicked .item-name{
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}




/*Para telas menores*/
@media screen and (max-width: 600px) {
    #inputTask {
        width: 90%;
        font-size: 14px;
    }

    #btn-add {
        margin-left: 0;
        margin-left: -10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .inputBox {
        flex-direction: row;
        align-items: stretch;
    }

    .item {
        width: 80%;
        flex-direction: row;
        height: 60px;
        padding: 10px;
    
    }

    .item-button, .item-name {
        flex: row;
        width: 50px;
        text-align: center;
        align-content: center;
    }

   .item-icon{
    margin-right: auto auto;
   }

    .delete {
        margin-left: 60px;
    }
}